{% extends 'layout.html' %}
{% block content %}
<h1 id="total-account-balance"> BALANCE: {{ sumPrice[0][0] }}</h1>

<div class="investment-title">
    <div class="align-horizontal">
        <h1>INVESTMENTS</h1>
        <button class="btn invest-button"><svg viewBox="0 0 16 16" class="bi bi-question" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
        </svg></button>
        <form action="" method="post">
            {{ form3.hidden_tag() }}
            {{ form3.download }}
        </form>
    </div>


</div>

<hr>
<div class="investment-header">
    <div class="investment-header-section">
        <p>Symbol</p>
        <P>Stock</P>
        <p>Value (£)</p>
        <p>Profit/Loss (£)</p>
        <p>Change from buy (%)</p>
    </div>
</div>

    <div class="investment-section">
        {% for i in range(len_user_info) %}
            <div class="investment">
                <p>{{ user_info[i].symbol }}</p>
                <p>{{ user_info[i].stock }}</p>
                <p>{{ user_info[i].price }}</p>
                <p>{{ user_info[i].profit_loss }}</p>
                <p>{{ user_info[i].change }}</p>                
            </div>
        {% endfor %}

    </div>
{% endblock content %}

{% block modal %}

<div class="modal-bg">
    <div tabindex="-1">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="find-out-more">
                <form method="POST" action="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h1>FIND OUT MORE</h1>
                    <hr>
                    <p>Best % Change: {{ sorted_percentage_change[len_sorted_percentage_change-1] }}</p>
                    <p>Worst % Change: {{ sorted_percentage_change[0] }}</p>
                    <p>Average Investment {{ avgPrice[0][0] }}</p>

                        <div class="modal-buttons">
                            <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                        </div>
                    </fieldset>
                </form>
            </div>


        </div>
        </div>
    </div>
</div>              
<script src="{{url_for('static', filename='modal.js')}}"></script>

{% endblock modal %}
